<div class="dlabnav">
    <div class="dlabnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Main Menu</li>
            <li>
                <a aria-expanded="false" class="ai-icon" href="/Admin/Home">
                    <svg class="feather feather-home" fill="none" height="24" id="icon-home"
                         stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                         viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                        <polyline points="9 22 9 12 15 12 15 22"></polyline>
                    </svg>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a aria-expanded="false" class="ai-icon" href="case.html">

                    <svg class="feather feather-file-text" fill="none" height="24" id="icon-file-text"
                         stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                         viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"
                              style="stroke-dasharray: 66, 86; stroke-dashoffset: 0;"></path>
                        <path d="M14,2L14,8L20,8" style="stroke-dasharray: 12, 32; stroke-dashoffset: 0;"></path>
                        <path d="M16,13L8,13" style="stroke-dasharray: 8, 28; stroke-dashoffset: 0;"></path>
                        <path d="M16,17L8,17" style="stroke-dasharray: 8, 28; stroke-dashoffset: 0;"></path>
                        <path d="M10,9L9,9L8,9" style="stroke-dasharray: 2, 22; stroke-dashoffset: 0;"></path>
                    </svg>
                    <span class="nav-text">Create Case</span>
                </a>
            </li>

            <li>
                <a aria-expanded="false" class="ai-icon" href="@Url.Action("Index", "SearchMember")">
                    <svg class="feather feather-users" fill="none" height="24" id="icon-users"
                         stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                         viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"
                              style="stroke-dasharray: 25, 45; stroke-dashoffset: 0;"></path>
                        <path d="M5,7A4,4 0,1,1 13,7A4,4 0,1,1 5,7"
                              style="stroke-dasharray: 26, 46; stroke-dashoffset: 0;"></path>
                        <path d="M23 21v-2a4 4 0 0 0-3-3.87"
                              style="stroke-dasharray: 8, 28; stroke-dashoffset: 0;"></path>
                        <path d="M16 3.13a4 4 0 0 1 0 7.75"
                              style="stroke-dasharray: 11, 31; stroke-dashoffset: 0;"></path>
                    </svg>
                    <span class="nav-text">Search Member</span>
                </a>
            </li>

            <li>
                <a aria-expanded="false" class="ai-icon" href="search-case.html">

                    <svg class="feather feather-file-text" fill="none" height="24" id="icon-file-text"
                         stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                         viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"
                              style="stroke-dasharray: 66, 86; stroke-dashoffset: 0;"></path>
                        <path d="M14,2L14,8L20,8" style="stroke-dasharray: 12, 32; stroke-dashoffset: 0;"></path>
                        <path d="M16,13L8,13" style="stroke-dasharray: 8, 28; stroke-dashoffset: 0;"></path>
                        <path d="M16,17L8,17" style="stroke-dasharray: 8, 28; stroke-dashoffset: 0;"></path>
                        <path d="M10,9L9,9L8,9" style="stroke-dasharray: 2, 22; stroke-dashoffset: 0;"></path>
                    </svg>
                    <span class="nav-text">Search Case</span>
                </a>
            </li>

            <li>
                <a aria-expanded="false" class="ai-icon" href="search-medical-provider.html">

                    <svg class="feather feather-file-text" fill="none" height="24" id="icon-file-text"
                         stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                         viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"
                              style="stroke-dasharray: 66, 86; stroke-dashoffset: 0;"></path>
                        <path d="M14,2L14,8L20,8" style="stroke-dasharray: 12, 32; stroke-dashoffset: 0;"></path>
                        <path d="M16,13L8,13" style="stroke-dasharray: 8, 28; stroke-dashoffset: 0;"></path>
                        <path d="M16,17L8,17" style="stroke-dasharray: 8, 28; stroke-dashoffset: 0;"></path>
                        <path d="M10,9L9,9L8,9" style="stroke-dasharray: 2, 22; stroke-dashoffset: 0;"></path>
                    </svg>
                    <span class="nav-text">Search Medical Provider</span>
                </a>
            </li>

        </ul>
    </div>


</div>

